/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headings */
h1,
h2,
h3 {
    text-align: center;
}

/* Style for h1 */
h1 {
    background-color: #000;
    color: #fff;
    line-height: 3.5em;
    font-size: 1rem;
}

/* Style for h2 */
h2 {
    letter-spacing: .15rem;
    line-height: 1.4rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* Style for h3 */
h3 {
    letter-spacing: .07rem;
    font-size: 0.95rem;
    line-height: normal;
    font-weight: 300;
    text-transform: capitalize;
}

.headings-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 3rem 0;
}

/* Reset style for a */
a {
    text-decoration: none;
    color: inherit;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 7rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    height: max-content;
    border-bottom: 1px solid #000;
}

/* Styling for Font Awesome Container */
.fa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    /* Make container into a circle */
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

/* Styling for Navigation Container */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.5rem;
    background-color: #fff;
    font-size: 1.3rem;
}

/* Styling for Navigation Login Section */
.nav-login {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
}

/* Styling for Navigation Menu */
.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    font-size: 2rem;
}

/* Styling for Navigation Menu Container */
nav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    padding: 5rem 0;
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    display: none;
    top: 100%;
}

/* Styling for Navigation List */
nav ul {
    list-style: none;
}

/* Styling for Navigation Items */
nav li {
    padding-bottom: 3rem;
}

/* Styling for Navigation List Items on Hover */
.nav-container a:hover {
    color: #565656;
    transition: all .3s;
}

nav a.active {
    color: #a6a6a6;
    transition: color 0.4s ease;
}

/* Styling for burger icon */
.toggle-icon span {
    display: block;
    background-color: #000;
    width: 100%;
    height: 3px;
    transition: all .2s;
}

.toggle-icon {
    position: absolute;
    z-index: 99;
    top: 73px;
    right: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all .3s;
}

.bar-middle {
    margin: 3px 0;
}

/* Get rid of checkbox */
.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    display: block;
}

#nav-toggle:checked~.toggle-icon>.bar-top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#nav-toggle:checked~.toggle-icon>.bar-middle {
    opacity: 0;
}

#nav-toggle:checked~.toggle-icon>.bar-bottom {
    transform: rotate(-135deg);
    margin-top: -12px;
}

/* Hero */
#hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

figure p {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero-img-container {
    width: 100vw;
    height: 33vh;
    margin: 1.5rem 0;
    background: url('../images/ayrton-seena-hero-2.webp') no-repeat center center/cover;
}

headings-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 1rem;
    padding-bottom: 3rem;
}

/* Profile */
#profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 3rem 0 0;
    text-align: center;
    margin-bottom: 5rem;
}

.profile-intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 3rem;
    background-color: #f6f6f6;
}

.profile-intro h2 {
    letter-spacing: normal;
    line-height: 1.5rem;
    font-size: 1.3rem;
    text-transform: none;
    font-weight: 700;
}

.profile-bio {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: 0.85rem;
    letter-spacing: 0.01em;
    padding: 3rem;
    margin: 0 auto;
}

/* Apply style to all children, but the last child */
.profile-bio p:not(:last-child) {
    padding-bottom: 1rem;
}

/* Button Styles */
.button {
    width: 70vw;
    max-width: 275px;
    margin: 0 auto;
    background-color: #000;
    text-transform: capitalize;
    color: #fff;
    padding: .95rem 0;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #ffffff;
    /* White background on hover */
    color: #000000;
    /* Black text color on hover */
    border: 1px solid #000;
}

/* Gallery Styles */
#gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: #f6f6f6;
    padding: 5rem 0 3rem;
    margin-bottom: 5rem;
}

.image-grid {
    padding: 1.5rem .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Responsive grid with a minimum column width of 300px */
    gap: 10px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintains aspect ratio and covers entire div */
}

/* Sign Up Styles */
#signup {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 1rem;
    border: 1px solid #000;
}

.contact-name {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 3rem;
}

.contact-name div {
    width: 50%;
}

.contact-name input[type=text] {
    width: 100%;
}

.contact-email input {
    width: 100%;
}

form input:not(radio) {
    padding: .3rem 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

form input[type=radio] {
    display: table-cell;
    vertical-align: middle;
    margin-left: 0.3rem;
}

fieldset {
    display: flex;
    justify-content: space-around;
    border: none;
}

legend {
    position: absolute;
    visibility: hidden;
}

/* Footer Styles */
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 3rem;
}

.social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    list-style-type: none;
}


@media screen and (min-width: 780px) {

    /* General Styles */
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
        letter-spacing: .07em;
    }

    /* Header Styles */
    header {
        position: fixed;
        display: flex;
        max-width: 1170px;
        justify-content: space-between;
        top: 1rem;
        z-index: 9;
        height: max-content;
        border: 1px solid #000;
    }

    header h1 {
        padding: 0.75rem;
    }

    .nav-container {
        flex-grow: 1;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 1rem;
    }

    nav {
        position: relative;
        display: flex;
        align-items: baseline;
        width: fit-content;
        height: fit-content;
        background-color: #fff;
        color: #000;
        padding: 0;
    }

    .nav-menu label {
        display: none;
    }

    nav ul {
        display: flex;
        flex-grow: 2;
        padding-right: 1rem;
        gap: 1.5rem;
    }

    nav li {
        padding: 0;
    }

    .nav-login {
        display: flex;
        padding-left: 1rem;
        gap: 1.5rem;
        width: fit-content;
        height: 100%;
        border-left: 1px solid #000;
        flex-grow: 0;
    }

    /* Hero Styles */
    .hero-img-container {
        height: 75vh;
        background: url('../images/ayrton-seena-hero-1.webp') no-repeat center center/cover;
    }

    figure {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
        width: 75%;
    }

    figure p {
        font-size: 4rem;
    }

    /* Profile Styles */
    .profile-intro h2 {
        max-width: 980px;
        font-size: 1.85rem;
        line-height: 1.5em;
    }

    .profile-bio {
        max-width: 65%;
        line-height: 1.85rem;
        font-size: 1rem;
    }

    /* Sign Up Styles */
    form {
        margin: 0 auto;
        max-width: 65%;
    }

    footer {
        font-size: 150%;
    }
}